<div class="container m-0">
    <div class="row pt-3">
        <div class="col-12">
            <ng-container *ngFor="let team of teams">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel class="mb-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ team.name | uppercase }}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-container *ngFor="let player of team.players">
                            <app-card-information [player]="player"></app-card-information>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
        </div>
    </div>
</div>
