<div *ngIf="text !== null || value !== null; else isNull">
    <div class="fw-bolder">{{ title }}</div>
    <div *ngIf="text">{{ text }}</div>
   
    <!-- Value -->
    <ng-container *ngIf="value">
        <div *ngIf="type === 'money'">{{ value.toString() | currency: '': '' }} € </div>
        <div *ngIf="type === 'number'">{{ value }}</div>
        <div *ngIf="type === 'date'">{{ value | date: 'dd-MM-yyyy'}}</div>
    </ng-container>
</div>

<ng-template #isNull>
    <div class="row disable">
        <div class="fw-bolder">{{ title }}</div>
        <div>-</div>
    </div>
</ng-template>

