@use "_variables" as v;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

html, body 
{ 
    height: 100vh; 
    background-image: url('./../assets/img/Futbol.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: v.$black;
}

body 
{ 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.border
*:focus-visible {
  outline: none;
  box-shadow: none !important;
}