:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10000;
  }

  mat-drawer-container {
    position: relative;
    background: transparent !important;
    height: 0;
  }
  mat-drawer-content {
    background: transparent;
  }
  mat-drawer {
    height: 100vh;
    padding: 24px;
  }

  ::ng-deep .draw-container {
    max-width: 990px;

    .col-6
    {
      &:nth-child(2)
      {
        padding-left: 20%;
      }
    }
  }

  ::ng-deep.mat-drawer-inner-container {
    height: 100% !important;
  }

  .stickyContent {
    margin-bottom: 92px;
  }

  .title-drawer {
    text-align: center;
    letter-spacing: 0px;
    color: #2d373d;
    opacity: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    font-family: 'DM Sans';
    margin-bottom: 56px;
  }

  .icon-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  ::ng-deep .cdk-overlay-container {
    z-index: 10000000 !important;
  }

  @media (max-width: 1400px) {
    mat-drawer {
      width: 45%;
    }
  }