<mat-drawer-container  [@enabledStateChange]="sideNav.opened ? 'open' : 'close'" hasBackdrop="true">
    <mat-drawer #sideNav mode="over" opened="false" position="end" class="col-3">
        <div class="icon text-rigth">
            <div class="d-flex flex-row-reverse">
              <em class="icon-close" (click)="sideNav.toggle()"></em>
            </div>
          </div>

          <!-- title -->
          <div class="draw-container container">
            <div class="row mb-0">
              <div class="col-12 text-center">
                <img [src]="viewService.player.picture" alt="viewService.player.name">
              </div>
            </div>
          </div>

          <!-- Content -->
          <div class="draw-container container mt-5">
            <div class="row">
              <div class="col-6 ps-5 mb-3">
                <app-data-print [title]="'Nombre'" [text]="viewService.player.name"></app-data-print>
              </div>

              <div class="col-6">
                <app-data-print [title]="'Posición'" [value]="viewService.player.position" [type]="'number'"></app-data-print>
              </div>
            </div>

            <div class="row">
              <div class="col-6 ps-5 mb-3">
                <app-data-print [title]="'Valor compra'" [value]="viewService.player.prev_value" [type]="'money'"></app-data-print>
              </div>

              <div class="col-6">
                <app-data-print [title]="'Valor actual'" [value]="viewService.player.value" [type]="'money'"></app-data-print>
              </div>
            </div>

            <div class="row">
              <div class="col-6 ps-5 mb-3">
                <app-data-print [title]="'Clausula contrato'" [value]="viewService.player.clause" [type]="'money'"></app-data-print>
              </div>

              <div class="col-6">
                <app-data-print [title]="'Actualizacón'" [value]="viewService.player.last_modified" [type]="'date'"></app-data-print>
              </div>
            </div>

            <div class="row">
              <div class="col-6 ps-5 mb-3">                
                <app-data-print [title]="'Competiciones'" [value]="viewService.player.id_competition" [type]="'number'"></app-data-print>
              </div>
            </div>
          </div>
    </mat-drawer>
    <mat-drawer-content></mat-drawer-content>
</mat-drawer-container>
